*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
}

/* Layout APP */
.container-pai {
    width: 280px; 
    min-height: auto; 

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f3f3f3; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8 32px rgba(0, 0, 0, 0.15); 
    margin: 15px auto;
}

/* cabecalho */
.cabecalho {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

/* Logo */
.cabecalho img {
  width: 28px;
  height: 28px;
}

.cabecalho h1 {
  font-size: 1rem;
  font-weight: 700;
  color: #222;
}

/* Input de texto */
.input-text {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #4c4c4d;
  border-radius: 8px;
  background-color: #f3f3f3;
  font-size: 0.85rem;
  color: #00000E;
}

/* Alinhamento do placeholder */
.input-text::placeholder {
  color: #666;
}


/* Container dos botões */

 .container-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 10px;
}

.PrimeiraLetraM-button {
  /*width: 100%;**/
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 10px;
}

.limpar-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.copiar-button {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  flex: 1;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 0.8rem;
  background-color: #D9D9D9;
  color: #00000E;
  border: 1px solid #4c4c4d;
  transition: all 0.3s ease;
}


.btn:hover {
  background-color: #c7c6c6;
}

/* Resultado */
.result {
  width: 100%;
  height: 60px;
  padding: 6px;
  min-height: 80px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px solid #4c4c4d;
  font-size: 0.85rem;
  text-align: left;
  resize: none;
  color: #00000E;
}

/* Rodapé */
footer {
  margin-top: 10px;
  font-size: 0.7rem;
  color: #4c4c4d;
  text-align: center;
}

footer a {
  color: #3c98c1;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}