* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Chamando Fonte */
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85rem;
}

/* cabecalho */
.cabecalho {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.cabecalho h1 {
  font-size: 13px;
}

/* Layout APP */
.container-pai {
    width: 200px; 
    height: 240px;


    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);;
}

/* Configurações dos Botões */
 .container-button {
  width: 160px;           

 /* Flexbox */
  display: flex;
  justify-content: space-between;    
  gap: 5px;    
  margin-bottom: 5px;
}


#input-text {
    width: 160px;
    padding: 5px 6px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 0.85rem;
    transition: 0.2s;
}

.btn {
    cursor: pointer;
    width: 28px; 
    height: 28px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #f2f2f2;
    transition: 0.2s;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
}

.btn .material-symbols-outlined {
    font-size: 16px; 
}

/* Desafio */

.result {
    width: 160px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 3px 40px;
    height: 60px;
    background-color: #fff;
    font-size: 0.8rem;
    text-align: left;
}

/* Rodapé */
footer {
  margin-top: 10px;
  font-size: 0.7rem;
  color: #e5e5eb;
  text-align: center;
}

footer a {
  color: #f0b2e2;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}